.searched-words-pool-container {
    
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-top: 20px;

    .searched-words-pool-title {
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 24px; 
    }
    .searched-words-container {
        display: flex;
        overflow-wrap: normal;
        padding: 30px;
    }

}