.searched-words-pool-container {
    width: 100%;
    
    height: 500px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;

    .searched-words-pool-title {
        width: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 24px; 
    }
    .searched-words-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 30px;
    }

}