.interaction-window-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 90%;
    border-radius: 10px;
    margin-bottom: 10px;
    align-self: center;
    .interaction-window-tabs-container {
        display: flex;

        .tab-container {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 5px;
            font-size: large;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            cursor:pointer;
            
            &.selected {
                background-image: linear-gradient(to bottom, rgb(87, 87, 87, 0.3), rgba(217, 217, 217, 0.3));
                font-weight: bolder;
            }
            
            &.unselected {
                background-image: linear-gradient(to bottom, rgba(190, 190, 190, 0.3), rgba(217, 217, 217, 0.3));
            }

            &:hover {
                background-color: white;
            }
        }
    }

    .interaction-display-input-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-bottom: 20px;
    }
}