.part-container {
    background: rgba(217, 217, 217, 0.3);
    border-radius: 10px;
    width: 70%;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    padding-top: 20px;
    padding-bottom: 20px;

    .word-part {
        font-size: x-large;
        font-weight: bolder;
        color: #ff0000;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .part-definition-container {
        font-size: large;
        padding-top: 3px;
        margin-left: 20px;

        .listed-definition {
            font-weight: 600;
        }
        
        .listed-example {
            margin-left: 25px;
            font-style: italic;
        }
    }

}